	<div class="d-flex flex-row">

		<div class="col-2 bg-success" style="height: 100vh; ">
		  <%= render 'tweets/left_nav' %>
		  <h2>Hi this is side bar</h2>
		</div>

		<div class="col-10 bg-secondary">
		  <%= render 'top_nav' %>
          <%= render 'form' %>
		</div>

	</div>


